{% extends "layout/layout_blank.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}Login - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}


{% block content %}
<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">
      <div class="card p-7">
        <div class="app-brand justify-content-center mt-5">
          <a href="{% url 'index' %}" class="app-brand-link gap-3">
            <span class="app-brand-logo demo">{% include 'partials/logo.html' %}</span>
            <span class="app-brand-text demo text-heading fw-semibold">{% get_theme_variables 'template_name' %}</span>
          </a>
        </div>
        <div class="card-body mt-1">
          <h4 class="mb-1">Welcome! 👋🏻</h4>
          <p class="mb-5">Please sign-in to your account.</p>

          <form id="formAuthentication" class="mb-5" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}

            <div class="form-floating form-floating-outline mb-5">
              {% render_field form.username class="form-control" placeholder="Enter your username" autofocus="autofocus" %}
              <label for="{{ form.username.id_for_label }}">Username</label>
            </div>
            <div class="mb-5">
              <div class="form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    {% render_field form.password class="form-control" placeholder="············" %}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
                </div>
              </div>
            </div>
            <div class="mb-5 pb-2 d-flex justify-content-between pt-2 align-items-center">
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember Me</label>
              </div>
              <a href="{% url 'authentication:auth-forgot-password-basic' %}" class="float-end mb-1">
                <span>Forgot Password?</span>
              </a>
            </div>
            <div class="mb-5">
              <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
            </div>
          </form>

          <p class="text-center mb-5">
            <span>New on our platform?</span>
            <a href="{% url 'authentication:auth-register-basic' %}">
              <span>Create an account</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
